*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    background-image: url(./assects/About_bg.svg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 1vh 2vmax;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 3px;
    max-height: 13vh;
}
.link{
    list-style: none;
    display: flex;
    align-items: center;
    gap:5vmin;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
}
.logo img{
    height: 10vh;
}
.link li button{
    color: white;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    text-wrap: nowrap;
}
.button1{
    background-color: transparent;
    border: 2px solid #FA8B02;
}
.button2{
    background-color: #FA8B02;
    border:0;
}
.link li img{
    height: 10px;
}
.language{
    color: rgba(212, 212, 212, 0.63);
}
.About{
    text-decoration: underline #FA8B02 2px;
}
.link li a{
    color: white;
    text-decoration: none;
}

.button1:hover{
    background-color: #FA8B02;
}
.button2:hover{
    background-color: #b06b16f2;
}
.link li:hover{
    transition: 1s ease;
    text-decoration: underline #FA8B02 2px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: .5s ease;
}

.about{
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.about h1{
    font-family: "Cookie", cursive;
    word-spacing: 0.5vmax;
    font-weight: 500;
    font-size: 6vmax;
    color: rgba(255, 255, 255);
}
.about h2{
    font-family: "Inter", sans-serif;
    font-size: 1.5vmax;
    overflow: hidden;
    font-weight: 450;
    text-overflow: ellipsis;
    max-width: 60%;
    line-height: 1.3;
    color: rgba(255, 255, 255,0.8);
    word-spacing: 0.1vmax;
    margin-bottom: 20px;
}
.about button{
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: rgba(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 1vmax;
    font-weight: 500;
    box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.675);
}

.about button:hover{
    border: 2px solid #FA8B02;
    box-shadow: 2px 4px 5px rgba(250, 139, 2,0.7);
}




@media (max-width: 1200px) {
    .pages .link{
        position: absolute;     
        width: 100%;
        right: 0%;
        height: 90vh;
        top: calc(11vh + 3px);
        flex-direction: column;
        justify-content: center;
        gap: 10vh;
        align-items: center;
        background-color: rgba(101, 101, 101, 0.822);
        border-radius: 20px;
        font-size: 30px;
    }
    .zindex{
        z-index: -1;
    }
    .visible{
        display: none;
    }
    .menu{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    .language{
        display: none;
    }
    .link li button{
        padding: 6px 18px;
        font-size: 10px;;
    }
    .account .link{
        gap: 2vmin;
    }
    div.active .line1{
        transform: translateY(7px) rotate(45deg);
        }
    div.active .line2{
        opacity: 0;
    }
    div.active .line3{
        transform: translateY(-7px) rotate(-45deg);
    }
}